/*
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217,217,227,.8);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem;
}
*/
/*
.inner::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
*/

/*
Test css classes to ensure library users can style what they want!
Use the classes following classes in your own css to style parts of the UI
.text-lang, .text-copy, .top-bar, .code-body, .check, .clipboard . Let me know if anything should be added.
*/
/*
pre{
  background-color: #1c1b1b;
}
*/
/*
.text-lang{
  background-color: red;
  color:blue;
}
.text-copy{
  color:blue;
}
.top-bar{
  background-color: green;
}
.code-body{
  background-color:  pink;
}
.check{
stroke: red;
}
.clipboard{
stroke: red;
}
*/